:root{
  --transition-time: 0.3s;
  --transition-type: ease;
  --transition-delay: 0.1s;
  --transition-amount:30px;
}

..animate.fadeIn{
  opacity:0;
  animation: fadeInUp;
  animation-duration: var(--transition-time);
  animation-timing-function: var(--transition-type);
  animation-delay: var(--transition-delay);
  animation-fill-mode: forwards;
}
.animate.fadeInLeft{
  opacity:0;
  animation: fadeInLeft;
  animation-duration: var(--transition-time);
  animation-timing-function: var(--transition-type);
  animation-delay: var(--transition-delay);
  animation-fill-mode: forwards;
}


@keyframes fadeInUp{
  0%{
    transform: translate(0,var(--transition-amount));
    opacity:0.2;
  }
  100%{
    transform: translate(0,0);
    opacity:1;
  }
}

@keyframes fadeInLeft{
  0%{
    transform: translate(calc(var(--transition-amount)*-1),0);
    opacity:0.2;
  }
  100%{
    transform: translate(0,0);
    opacity:1;
  }
}

.pulsate{
  animation: pulsate;
  animation-duration: var(--transition-time);
  animation-timing-function: var(--transition-type);
  animation-delay:var(--transition-delay);
  animation-iteration-count: infinite;
  animation-fill-mode:both;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
@keyframes pulsate{
  0%{
    transform:scale(1);
    box-shadow: 0 0 0 0px rgba(0,0,0,0.3);
  }
  10%{
    transform:scale(1.1);
    box-shadow: 0 0 0 0px rgba(0,0,0,0.3);
  }
  100%{
    transform:scale(1);
    box-shadow: 0 0 0 20px rgba(0,0,0,0);
  }
}


.activeFadeInBottom{
  transition: all var(--transition-time) ease-out;
  transform: translateY(100%);
}
.activeFadeInBottom.active{
  transform:translateY(0%);
}

.activeFadeInTop{
  transition: all var(--transition-time) ease-out;
  transform: translateY(-100%);
}
.activeFadeInTop.active{
  transform: translateY(0%);
}

