:root{
	--primary-lightness: 30%;
	--primary-chroma: 40;
	--primary-hue: 240;
	--opacity:1;
	--secondary-hue: 60;
	--tertiary-hue: 150;
}
.color-primary{
	color: lch( var(--primary-lightness) var(--primary-chroma) var(--primary-hue));
}
.background-primary{
	background-color: lch( var(--primary-lightness) var(--primary-chroma) var(--primary-hue)  / var(--opacity));
}
.color-secondary{
	color: lch( var(--primary-lightness) var(--primary-chroma) var(--secondary-hue) );
}
#teaser::after{
	background-color: lch( 10% 50 var(--primary-hue) );
	content:'';
	height:100vh;
	width:100vw;
	position:absolute;
	top:0;
	left:0;
	opacity:0.3;
}
body{
	background-color: lch( 98 0 0);
}
.text-white path{
	fill:white;
}
.text-white rect{
	fill:white;
}
.text-white polygon{
	fill:white;
}
.hex-pattern {
  --s: 10px; /* control the size*/
  --c1: lch( 5 35 var(--primary-hue) / 1);
  --c2: lch( 10 35 var(--primary-hue) / 1);
  
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

