:root{
	--fixed-width:100px;
	--fixed-height:100px;
}
.svg-fixed > svg{
	width:var(--fixed-width);
	height:var(--fixed-height);
}
.svg-inherit > svg{
  width: inherit;
  height:inherit;
}
.vh-75{
  height:75vh;
}
.vh-50{
  height:50vh;
}
.vh-25{
  height:25vh;
}
