{% extends 'static_base.html' %}
{% block content %}
<div class="z-1 hex-pattern" style="clip-path:polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);--primary-lightness:5%;--primary-chroma:40;top:0;left:0;height:20vh;width:100vw">
</div>
<div class="hex-pattern d-flex flex-row align-items-center w-100 justify-content-around p-4" style="--primary-lightness:100%;--primary-chroma:0">
  <div class="d-flex flex-row justify-content-center w-75">
    <div class="d-flex flex-column justify-content-center align-items-center">
  <div class="animate fadeIn p-4 z-1" style="">
    <h1 class="text-light" style="--transition-delay:0.1s;text-wrap:nowrap">{{ article.category.title }}</h1>
    <h2 class="text-light" style="--transition-delay:0.2s;">{{ article.title }}</h2>
    <small class="my-2 text-light" style="--transition-delay:0.3s;">{{article.writer.first_name }} {{article.writer.last_name }}</small><br>
    {% if article.read_time %}
    <span class="my-2 text-light" style="--transition-delay:0.3s;"><i class="fas fa-clock"></i><span id="read_time" class="px-2">0</span><span></span>min</span>
    {% endif %}
  </div>
  <div class="text-white background-primary p-4 animate fadeIn mx-4" style="--primary-lightness:5%;--primary-chroma:20;height:100%;">
    <div id="article" class="px-4" style="">
      {{ article.content|safe }}
    </div>
  </div>
  </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center hex-pattern p-4 w-25" style="--pattern-lightness:2%; --pattern-secondary-lightness:1%">
  {% for image in article.article_images.all %}
  <img style="width:-moz-available" src="/media/{{ image.image }}" alt={{image.caption}}>
  {% endfor %}
  </div>
</div>
<div class="w-100 d-flex flex-row justify-content-center align-items-center hex-pattern border-top border-bottom py-4" style="border-color:black;--pattern-lightness:1%;">
  <div class="p-4 hex-pattern w-100" style="--primary-lightness:5%;">
    <h2 class="animate fadeIn text-white text-center">Weitere Artikel</h2>
    <div class="animate fadeIn d-flex flex-row justify-content-around align-items-center p-4">
      {% for article in further_articles %}
      <div class="card animate fadeIn p-4 m-3" style="width:30%;--primary-lightness:20%;--transition-delay:0.{{forloop.counter}}s">
        <h3 class="animate fadeIn">{{article.title}}</h3>
        <hr>
        <div class="card-body">
        <p class="animate fadeIn">{{ article.stripped_content|truncatechars:"200"|safe }}</p><span class="p-2 background-primary"><a class="text-white text-decoration-none" href="{{ article.get_absolute_url }}">weiterlesen</a></span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
  function readingTime() {
    const text = document.getElementById("article").innerText;
    const wpm = 225;
    const words = text.trim().split(/\s+/).length;
    const time = Math.ceil(words / wpm);
    document.getElementById("read_time").innerText = time;
  }
  readingTime();
</script>
{% endblock %}

