{% load static %}
<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} ⋅ H und H Finanzkanzlei </title>
		<meta name="viewport" content="width=device-width, inital-scale=1">
		{% comment %}
			static css files
		{% endcomment %}
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static '/css/coloring.css' %}" rel="stylesheet">
	</head>
	<body>
	{% csrf_token %}
		<script>
			const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		</script>
	<div class="page-wrapper">
		<div class="page-inner">
				<header class="d-flex flex-row justify-content-end align-items-center mt-4 me-4" id="page-header" role="banner">
					<a class="text-decoration-none color-secondary" href="#"><div class="mx-1"><span>News</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Versicherungen</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Altersvorsorge</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Dienstleistungen</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Über uns</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Anbieter</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Kontakt</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>Leitsatz</span></div></a>
					<a class="text-decoration-none" href="#"><div class="mx-1"><span>LogIn</span></div></a>
				</header>
			{% block content %}
			{% endblock %}
		</div>
	</div>
	{% comment %}
		static javascript files
	{% endcomment %}
			<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
	</body>
	<footer class="my-2 py-2 w-100 background-primary d-flex flex-row justify-content-around align-content-center" style="min-height:10vh">
		<div class="d-flex flex-column">
			<span class="fw-2">Kontakt</span>
			<span class="fw-3">H und H Finanzservice</span>
			<span class="fw-3">info@hh-finanzservice.de</span>
			<span class="fw-3">+49 123 456 789</span>
		</div>	
		<div class="">
			<span class="fw-2">Service</span>


		</div>
	</footer>
</html>
